* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* main */
html, body,
application {
	display: block;
	width: 100%;
	height: 100%;
}
body {
	font-family: sans-serif;
	background: #fff;
	color: #333;
	font-size: 14px;
}

/*cover image*/
.image-cover {
	display: block;
	position: relative;
	padding-top: 100%;
	overflow: hidden;
	transform: translateZ(0);

	img {
		position: absolute;
		top: 0; left: 50%;
		height: 100%; width: auto;
		transform: translateX(-50%);

		&.vertical {
			top: 50%; left: 0;
			height: auto; width: 100%;
			transform: translateY(-50%);
		}
	}
}

carousel .image-cover {
	padding: 0;
	height: 100%;
}